<!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="templates/tplPages::head(#{authors.title.plural}, #{authors.title.plural})"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="templates/tplPages::header()"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <h1 class="Middle-title" th:text="#{authors.title.plural}">Авторы
        </h1>
        <div class="Section">
          <div class="Authors">
            <div class="Authors-links">
              <span th:each="litera : ${literasList}">
                <a class="Authors-link" th:text="${litera}" th:href="${'/authors?letter='+ litera}">l</a>
              </span>
            </div>
            <div class="Authors-block">
              <h2 class="Authors-title">
              </h2>
              <div class="Authors-letter">
                <div class="Authors-item" th:each="authors : ${authorsList}">
                  <a th:href="${'/authors/slug?id=' + authors.getId()}" th:text="${authors.getName()}" >...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="templates/tplPages::footer()"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
  <!--+menu(-->
  <!--    'Это раз',-->
  <!--    'Это два',-->
  <!--    'Это три'-->
  <!--)-->
  <!--br-->
  <!--br-->
  <!--+menu._vt-->
  <!--    +menuItem Это раз-->
  <!--    +menuItem.-item_danger Это два-->
  <!--    +menuItem Это три-->
</body></html>