<!DOCTYPE html><!--[if IE 7]>
<html class="ie7" lang="ru">
<![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="ru">
<![endif]-->
<!--[if IE 9]>
<html class="ie9" lang="ru">
<![endif]-->
<!--[if gt IE 9]><!--> <html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:replace="templates/tplPages::head(${author.getTitle()}, ${author.getTitle()})"></head>
<body class="Site">
  <!--if lt IE 8
  p.error-browser
      | Ваш браузер&nbsp;
      em устарел!&nbsp;
      a(href="http://browsehappy.com/") Выберите новую версию
          +s
          | браузера здесь&nbsp;
      | для правильного отображения сайта.
  -->
  <header th:replace="templates/tplPages::header()"></header>
  <div class="Middle">
    <div class="wrap">
      <main class="Middle-main">
        <ul class="breadcrumbs">
          <li class="breadcrumbs-item"><a href="/" th:text="#{pages.title.main}">Главная</a>
          </li>
          <li class="breadcrumbs-item"><a href="/authors" th:text="#{pages.title.authors}">Авторы</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current"><span th:text="${author.getTitle()}"></span>
          </li>
        </ul>
        <h1 class="Middle-title" th:text="${author.getTitle()}">.</h1>
        <article class="Article">
          <div class="sdf">
          </div>
          <div class="Spoiler">
            <div class="Spoiler-visible">
              <div class="pict pict_left"><img th:src="${'/assets/img/content/authors/' + author.getImgFileName()}" th:alt="${author.getImgFileName()}"/>
              </div>
              <div>
                <h2>Биография
                </h2>
                <p th:text="${author.getHistory()}"></p>
              </div>
            </div>
            <div class="Spoiler-hide">
              <p th:text="${author.getHistory()}"></p>
            </div>
            <div class="Spoiler-footer">
              <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" data-showtext="Свернуть" data-hidetext="Показать полностью">
              </button>
            </div>
          </div>
        </article>
        <div class="Section">
          <header class="Section-header">
            <h2 class="Section-title" th:text="#{authors.books.single}">Книги автора
            </h2>
          </header>
          <div class="Slider Slider_carousel">
            <div class="Slider-box Cards">
              <div class="Slider-item" th:each="book : ${author.getBooks()}">
                <div class="Slider-content">
                  <div class="Card" th:replace="templates/tplPages::card(book)"></div>
                </div>
              </div>
            </div>
            <div class="Slider-navigateWrap">
              <div class="Slider-navigate">
              </div>
            </div>
          </div>
          <footer class="Section-footer">
            <a class="Author-books" href="/books/author.html" th:text="#{authors.books.all}">Все книги автора
              <span class="Author-amount" th:text="'(' + ${author.getBooks().size()} + ')'"></span>
            </a>
          </footer>
        </div>
      </main>
    </div>
  </div>
  <footer th:replace="templates/tplPages::footer()"></footer>
  <script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body></html>